
@{
    ViewData["Title"] = "Sent";
}

<h2>Email verzonden</h2>
<p>De mail is verzonden.</p>
<p>In afwachting van een atwoord kan u een <a asp-area="" asp-controller="Reis" asp-action="Index">reis</a> boeken.</p>

