
@{
    ViewData["Title"] = "Payment";
}

<h2>Betaling bevestigd</h2>
<p>Bedankt om een boeking te plaatsen bij VivesTrein</p><br />
<p>U kan elk moment een mail ontvangen met uw ticket</p><br />
<p>Voor uw historiek klik <a asp-controller="Boeking" asp-action="Index">hier</a></p>


