@model VivesTrein.ViewModels.ReisVM

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

@*@section styles {
    <link href="~/lib/datatables/css/jquery.dataTables.min.css" rel="stylesheet" />
}*@

<h4>ReisVM</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Index" id="form"
              @*data-ajax="true"
              data-ajax-methode="POST"
              data-ajax-mode="replace"
              data-ajax-update="#content"
              data-ajax-loading="#divloading"
              data-ajax-succes="Succes"
              data-ajax-failure="Failure" *@>

            <div class="form-group">
                <label asp-for="Naam" class="control-label"></label>
                <input asp-for="Naam" id="Naam" class="form-control" />
                <span asp-validation-for="Naam" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="VerstrekStadId" class="control-label">Vertrek Stad</label>
                <select asp-for="VerstrekStadId" id="VerstrekStadId" asp-items="@ViewBag.lstStad">
                    <option>Selecteer een stad</option>
                </select>
                <span asp-validation-for="VerstrekStadId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="AankomstStadId" class="control-label">Bestemming Stad</label>
                <select asp-for="AankomstStadId" id="AankomstStadId" asp-items="@ViewBag.lstStad">
                    <option>Selecteer een stad</option>
                </select>
                <span asp-validation-for="AankomstStadId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="BussinessClass" id="BussinessClass" /> Bussiness class
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="VertrekDatum" class="control-label">Vertrek Datum</label>
                <input asp-for="VertrekDatum" id="VertrekDatum" class="form-control" />
                <span asp-validation-for="VertrekDatum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Aantal" class="control-label">Aantal</label>
                <input asp-for="Aantal" id="Aantal" type="number" min="1" max="10" />
                <span asp-validation-for="Aantal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Search" id="btn" class="btn btn-default" style="display: none" />
            </div>
        </form>
    </div>

    @*<div class="col-md-4">
        <div id="content"></div>
    </div>*@
</div>


@section scripts
    {

<script src="~/lib/jquery-ajax-unobtrusive-master/jquery-ajax-unobtrusive-master/dist/jquery.unobtrusive-ajax.min.js"></script>
    <script>


        $("#form").on("change", function () {
            $("#btn").hide()

            var naam = $("#Naam").val();
            console.log(naam);

            var vertrek = $("#VerstrekStadId").val();
            console.log(vertrek);

            var bestemming = $("#AankomstStadId").val();
            console.log(bestemming);

            var date = $("#VertrekDatum").val();
            console.log(date);

            var aantal = $("#Aantal").val();
            console.log(aantal);

            if (naam != 0) {
                if (vertrek != 0) {
                    if (bestemming != 0) {
                        if (date != 0) {
                            if (aantal != 0) {
                                $("#btn").show()
                            }
                        }
                    }
                }
            }
        });
    </script>
}


